.badge {
  color: #fff;
}

.bg-experienced {
  background-color: #58dcad;
}

.bg-advanced {
  background-color: #66a5ed;
}

.bg-senior {
  background-color: #9775e5;
}

.bg-expert {
  background-color: #efa651;
}

.card-body {
  text-align: center;
}

.card-img-top {
  padding: 20px;
}

.col {
  margin-top: 1em;
  margin-bottom: 1em;
}

.fa-card-user {
  color: grey;
  text-align: center;
  margin-top: 1em;
}
